@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

$bg-color: #C1DBE3;
$digits-color: #494949;
$operator-color: #FCE694;
$output-color: #373737;
$previous-operand:#F6FEAA;
$border-color: #ffffff;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);